.left-planner-col {
    border-right: 1px black solid;
    min-width:150px;
}
.right-planner-col {
    min-width:150px;
}
.planner-row {
    border: 1px black solid;
}
.planner-wrapper {
    border: 1px black solid;
}
.height-enforcer {
    min-height:30px;
}