.planner-col {
	border-right: 1px black solid;
}
.planner-col:last {
	border:none;
}
.planner-row {
    border: 1px black solid;
}
.planner-wrapper {
    border: 1px black solid;
}
.height-enforcer {
    min-height:30px;
}
.planner-wrapper {
	min-width:500px;
	float:left;
}
.not-in-planner {
	float:left;
	margin-left:30px;
}